Includes code to merge different csv files

In [ ]:
import pandas as pd

In [ ]:
files = ['/content/drive/MyDrive/Team13_Project/Ahmedabad.csv' , '/content/drive/MyDrive/Team13_Project/Banglore.csv'  , '/content/drive/MyDrive/Team13_Project/Goa.csv' , '/content/drive/MyDrive/Team13_Project/Kolkata.csv','/content/drive/MyDrive/Team13_Project/Mumbai.csv' , '/content/drive/MyDrive/Team13_Project/New Delhi.csv' , '/content/drive/MyDrive/Team13_Project/Pune.csv' , '/content/drive/MyDrive/Team13_Project/Varanasi.csv' , '/content/drive/MyDrive/Team13_Project/Agra.csv' ,'/content/drive/MyDrive/Team13_Project/Jaipur.csv']
df = pd.concat(
map(pd.read_csv, files), ignore_index=True)

In [ ]:
df.shape

(4517, 5)

In [ ]:
df.tail()

,city_name,place_to_visit,place_name,reviews,Unnamed: 0
4512,Jaipur,Things,City Palace of Jaipur,"Underwelming, overpriced, bad tour guide, unst...",445.0
4513,Jaipur,Things,City Palace of Jaipur,"A complex of courtyards, gardens and buildings...",446.0
4514,Jaipur,Things,City Palace of Jaipur,The architecture of the city palace is beautif...,447.0
4515,Jaipur,Things,City Palace of Jaipur,"Had a great tour with Gajendra haripura, a kno...",448.0
4516,Jaipur,Things,City Palace of Jaipur,city palace of Jaipur is also one of the majo...,449.0

In [ ]:
df.to_csv('/content/drive/MyDrive/Team13_Project/reviews.csv')