In [1]:
import pandas as pd
import numpy as np

# Importing necessary libraries

In [2]:
# Importing message.csv from review.csv
messages = pd.read_csv('messages.csv')

In [3]:
messages.shape

(98285, 2)

In [5]:
# importing cleaned data
df1 = pd.read_csv('fake_data_cleaned.csv')

In [6]:
#displaying top 5 records of df1
df1.head()

   label                                          text_
0      1  love well made sturdy comfortable love pretty
1      1   love great upgrade original mine couple year
2      1        pillow saved back love look feel pillow
3      1    missing information use great product price
4      1            nice set good quality set two month

In [7]:
# checking number of rows and columns
df1.shape

(40432, 2)

In [8]:
# changing column text_ into text
df1.columns = ['label' , 'text']

In [9]:
# checking null values and datatype of each column
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40432 entries, 0 to 40431
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   40432 non-null  int64
 1   text    40431 non-null  object
dtypes: int64(1), object(1)
memory usage: 631.9+ KB

In [10]:
# displaying row number where the null value exist

import numpy as np
np.where(df1.text.isnull())

(array([37914], dtype=int64),)

In [11]:
# dropping the row having null value
df1.drop([37914] , inplace = True)

In [12]:
# checking null values and datatype of each column
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40431 entries, 0 to 40431
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   40431 non-null  int64
 1   text    40431 non-null  object
dtypes: int64(1), object(1)
memory usage: 947.6+ KB

In [13]:
# concating the dataset df1 and messages
# df1 --> labeled dataset
# messages --> scrapped dataset
data = pd.concat([df1 , messages] , axis = 0)

In [14]:
# reseting the index
data.index = range(len(data))
data.tail() # displaying bottom 5 records

        label                                               text
138711      0  Exceptional hospitality in every way at Triden...
138712      0  I have had the privilege of staying at 5 star ...
138713      0  A lovely experience at Trident. The atmosphere...
138714      0  " thanks to trident .The service of the hotel ...
138715      0  Thanks to trident agra we loved it here and en...

## TFIDF

In [15]:
# importing library 
from sklearn.feature_extraction.text import TfidfVectorizer

#creating object vectorizer
vectorizer = TfidfVectorizer(max_features = 10000) #limiting the number of features to 10000
vectorized_corpus = vectorizer.fit_transform(data['text']).toarray() #coverting text column into array

df_temp = pd.DataFrame(vectorized_corpus,columns=vectorizer.get_feature_names_out())

print(df_temp) #printing the rows and columns

         00  000  00am  00pm   01   02   03   05   06   09  ...  zirakpur  \
0       0.0  0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...       0.0
1       0.0  0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...       0.0
2       0.0  0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...       0.0
3       0.0  0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...       0.0
4       0.0  0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...       0.0
...     ...  ...   ...   ...  ...  ...  ...  ...  ...  ...  ...       ...
138711  0.0  0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...       0.0
138712  0.0  0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...       0.0
138713  0.0  0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...       0.0
138714  0.0  0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...       0.0
138715  0.0  0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...       0.0

        zodiac  zomato  zombie  zone  zones  zoo  zoom  zoya   और
0          0.0     0.0     0.0   0.0    0.0  0.0   0.0   0.0  0.0
1          0.0     0.0     0.0   0.0    0.0  0.0   0.0   0.0  0.0
2          0.0     0.0     0.0   0.0    0.0  0.0   0.0   0.0  0.0
3          0.0     0.0     0.0   0.0    0.0  0.0   0.0   0.0  0.0
4          0.0     0.0     0.0   0.0    0.0  0.0   0.0   0.0  0.0
...        ...     ...     ...   ...    ...  ...   ...   ...  ...
138711     0.0     0.0     0.0   0.0    0.0  0.0   0.0   0.0  0.0
138712     0.0     0.0     0.0   0.0    0.0  0.0   0.0   0.0  0.0
138713     0.0     0.0     0.0   0.0    0.0  0.0   0.0   0.0  0.0
138714     0.0     0.0     0.0   0.0    0.0  0.0   0.0   0.0  0.0
138715     0.0     0.0     0.0   0.0    0.0  0.0   0.0   0.0  0.0

[138716 rows x 10000 columns]

In [16]:
# printing vectorized_corpus
print(vectorized_corpus)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [17]:
# printing count of each vectorizer
vectorizer.vocabulary_

{'love': 5181,
 'well': 9758,
 'made': 5225,
 'sturdy': 8568,
 'comfortable': 1903,
 'pretty': 6724,
 'great': 3847,
 'upgrade': 9395,
 'original': 6103,
 'mine': 5552,
 'couple': 2160,
 'year': 9951,
 'pillow': 6462,
 'saved': 7652,
 'back': 826,
 'look': 5156,
 'feel': 3308,
 'missing': 5576,
 'information': 4429,
 'use': 9426,
 'product': 6774,
 'price': 6729,
 'nice': 5862,
 'set': 7823,
 'good': 3782,
 'quality': 6896,
 'two': 9289,
 'month': 5641,
 'wanted': 9666,
 'different': 2570,
 'flavor': 3410,
 'perfect': 6366,
 'touch': 9119,
 'thing': 8968,
 'wish': 9851,
 'little': 5111,
 'space': 8269,
 'done': 2717,
 'fit': 3388,
 'edge': 2869,
 'extra': 3202,
 'big': 1097,
 'number': 5952,
 'easy': 2850,
 'read': 7046,
 'like': 5064,
 'size': 8072,
 'son': 8215,
 'also': 407,
 'baby': 825,
 'advertised': 287,
 'th': 8916,
 'one': 6038,
 'problem': 6764,
 'really': 7063,
 'handy': 3975,
 'kid': 4800,
 'tool': 9099,
 'included': 4383,
 'package': 6170,
 'someone': 8207,
 'say': 7661,
 'oriental': 6099,
 'flimsy': 3432,
 'would': 9911,
 'expect': 3153,
 'piece': 6452,
 'furniture': 3622,
 'make': 5268,
 'may': 5408,
 'tea': 8845,
 'kind': 4812,
 'hard': 3992,
 'put': 6887,
 'absolutely': 169,
 'adorable': 275,
 'excellent': 3103,
 'wooden': 9880,
 'entire': 3020,
 'family': 3252,
 'beautiful': 969,
 'mesh': 5496,
 'exactly': 3095,
 'star': 8404,
 'highly': 4122,
 'recommend': 7098,
 'item': 4568,
 'blanket': 1142,
 'egg': 2892,
 'color': 1878,
 'dimension': 2584,
 'pictured': 6448,
 'fantastic': 3259,
 'supposed': 8678,
 'come': 1898,
 'hardware': 3996,
 'vacuum': 9453,
 'seems': 7761,
 'way': 9719,
 'smoothie': 8152,
 'small': 8133,
 'person': 6386,
 'accustomed': 217,
 'reason': 7066,
 'gave': 3683,
 'seller': 7776,
 'yes': 9955,
 'thin': 8967,
 'plastic': 6509,
 'however': 4246,
 'handle': 3968,
 'bought': 1230,
 'second': 7739,
 'first': 3381,
 'sure': 8684,
 'wonderful': 9872,
 'aroma': 625,
 'throughout': 9005,
 'house': 4236,
 'received': 7076,
 'time': 9047,
 'flat': 3408,
 'husband': 4281,
 'okay': 6018,
 'got': 3799,
 'local': 5125,
 'store': 8488,
 'away': 807,
 'thought': 8985,
 'addition': 248,
 'kitchen': 4831,
 'fine': 3366,
 'option': 6075,
 'separate': 7794,
 'awesome': 809,
 'material': 5395,
 'decent': 2378,
 'heavy': 4069,
 'everyday': 3083,
 'work': 9884,
 'part': 6261,
 'cup': 2267,
 'go': 3763,
 'old': 6023,
 'suction': 8599,
 'removable': 7208,
 'expected': 3156,
 'design': 2495,
 'place': 6487,
 'awful': 811,
 'experience': 3164,
 'everything': 3085,
 'stuck': 8549,
 'cooked': 2089,
 'evenly': 3075,
 'job': 4659,
 'keeping': 4771,
 'slide': 8110,
 'sheet': 7900,
 'buy': 1392,
 'town': 9139,
 'save': 7651,
 'instead': 4478,
 'shipping': 7925,
 'box': 1242,
 'keep': 4768,
 'money': 5631,
 'towel': 9135,
 'real': 7053,
 'clean': 1784,
 'purchasing': 6873,
 'alright': 406,
 'disappointed': 2621,
 'paper': 6236,
 'corner': 2124,
 'cabinet': 1405,
 'sticker': 8457,
 'fabric': 3212,
 'thick': 8962,
 'enough': 2997,
 'hold': 4165,
 'amount': 450,
 'coffee': 1856,
 'need': 5816,
 'long': 5152,
 'movie': 5686,
 'took': 9098,
 'finish': 3371,
 'review': 7345,
 'next': 5857,
 'seal': 7720,
 'properly': 6812,
 'break': 1266,
 'throw': 9006,
 'third': 8973,
 'dog': 2698,
 'much': 5698,
 'better': 1053,
 'get': 3717,
 'walmart': 9659,
 'looking': 5158,
 'purchase': 6871,
 'beat': 964,
 'cheap': 1647,
 'intended': 4492,
 'choice': 1717,
 'bowl': 1239,
 'fast': 3271,
 'last': 4940,
 'forever': 3510,
 'cool': 2096,
 'warm': 9673,
 'bit': 1127,
 'bigger': 1098,
 'fan': 3254,
 'actually': 235,
 'super': 8659,
 'rough': 7460,
 'soft': 8184,
 'wash': 9687,
 'cloth': 1828,
 'bar': 898,
 'guy': 3931,
 'often': 6013,
 'unfold': 9349,
 'storage': 8487,
 'difficult': 2572,
 'frame': 3554,
 'beautifully': 971,
 'crafted': 2193,
 'picture': 6447,
 'hot': 4228,
 'finally': 3361,
 'fabulous': 3214,
 'friend': 3585,
 'low': 5188,
 'purchased': 6872,
 'christmas': 1736,
 'gift': 3729,
 'accurate': 215,
 'description': 2485,
 'came': 1433,
 'happy': 3990,
 'cover': 2174,
 'fluffy': 3455,
 'ever': 3079,
 'cozy': 2184,
 'smell': 8137,
 'mist': 5578,
 'dry': 2791,
 'quickly': 6915,
 'favorite': 3286,
 'expecting': 3157,
 'curtain': 2279,
 'bedroom': 980,
 'hang': 3976,
 'pant': 6232,
 'skirt': 8095,
 'something': 8208,
 'larger': 4934,
 'pricey': 6733,
 'charge': 1623,
 'kept': 4774,
 'day': 2356,
 'nothing': 5932,
 'special': 8286,
 'install': 4470,
 'described': 2482,
 'arrived': 638,
 'timely': 9049,
 'manner': 5325,
 'sent': 7791,
 'brush': 1319,
 'pencil': 6356,
 'etc': 3062,
 'shed': 7895,
 'le': 4975,
 'opener': 6051,
 'hand': 3962,
 'air': 343,
 'tight': 9033,
 'glad': 3743,
 'cute': 2294,
 'zipper': 9989,
 'worked': 9885,
 'send': 7782,
 'grandkids': 3826,
 'halloween': 3951,
 'treat': 9197,
 'ton': 9089,
 'using': 9432,
 'weak': 9724,
 'barely': 904,
 'bring': 1299,
 'glass': 3746,
 'grand': 3821,
 'daughter': 2350,
 'connecting': 2013,
 'power': 6641,
 'supply': 8672,
 'camera': 1435,
 'definitely': 2423,
 'contemporary': 2053,
 'assemble': 690,
 'appears': 555,
 'boyfriend': 1247,
 'loved': 5182,
 'cousin': 2172,
 'stopped': 8483,
 'working': 9888,
 'still': 8462,
 'waiting': 9640,
 'refund': 7139,
 'reasonably': 7068,
 'patient': 6306,
 'poor': 6586,
 'thanks': 8932,
 'foot': 3492,
 'chair': 1579,
 'order': 6083,
 'photo': 6414,
 'wall': 9655,
 'week': 9742,
 'help': 4083,
 'food': 3484,
 'warmer': 9674,
 'wide': 9811,
 'opening': 6052,
 'best': 1049,
 'future': 3628,
 'additional': 249,
 'convenience': 2076,
 'turquoise': 9277,
 'almost': 395,
 'bright': 1290,
 'pink': 6470,
 'shelf': 7904,
 'chocolate': 1715,
 'yogurt': 9963,
 'fruit': 3597,
 'think': 8970,
 'knife': 4841,
 'father': 3279,
 'needed': 5817,
 'winter': 9842,
 'slept': 8107,
 'find': 3363,
 'bed': 978,
 'functional': 3614,
 'leg': 5005,
 'bedding': 979,
 'term': 8895,
 'container': 2050,
 'bag': 842,
 'type': 9293,
 'smooth': 8151,
 'solid': 8196,
 'grill': 3865,
 'large': 4932,
 'canvas': 1461,
 'lightweight': 5062,
 'ordered': 6084,
 'light': 5053,
 'blue': 1169,
 'yellow': 9953,
 'used': 9427,
 'every': 3081,
 'shampoo': 7869,
 'conditioner': 1989,
 'want': 9665,
 'shower': 7973,
 'mini': 5555,
 'full': 3609,
 'mattress': 5403,
 'college': 1876,
 'terrible': 8900,
 'complete': 1957,
 'waste': 9698,
 'whole': 9801,
 'lot': 5170,
 'together': 9076,
 'difference': 2569,
 'deal': 2363,
 'far': 3261,
 'quick': 6913,
 'customer': 2288,
 'service': 7814,
 'value': 9471,
 'oven': 6136,
 'right': 7376,
 'height': 4074,
 'wait': 9636,
 'try': 9250,
 'haul': 4021,
 'china': 1704,
 'mother': 5663,
 'spice': 8312,
 'anything': 537,
 'else': 2930,
 'car': 1476,
 'snake': 8158,
 'oil': 6015,
 'cushion': 2283,
 'constructed': 2040,
 'easily': 2846,
 'washed': 9689,
 'take': 8781,
 'mystery': 5748,
 'meat': 5435,
 'finished': 3372,
 'cooking': 2093,
 'organizer': 6097,
 'utensil': 9436,
 'perfectly': 6368,
 'art': 645,
 'rug': 7484,
 'wrap': 9918,
 'longer': 5153,
 'tube': 9255,
 'disappointing': 2622,
 'belt': 1027,
 'never': 5849,
 'expensive': 3162,
 'renting': 7223,
 'washing': 9691,
 'mug': 5701,
 'saver': 7653,
 'laundry': 4956,
 'room': 7444,
 'flexible': 3427,
 'leading': 4979,
 'quite': 6921,
 'helpful': 4086,
 'condition': 1987,
 'bottom': 1229,
 'stay': 8428,
 'zero': 9986,
 'elegant': 2917,
 'improve': 4366,
 'taste': 8821,
 'wine': 9836,
 'side': 8001,
 'sleeper': 8104,
 'mat': 5388,
 'new': 5851,
 'bathroom': 935,
 'baking': 857,
 'top': 9105,
 'notch': 5926,
 'artistry': 656,
 'bust': 1380,
 'studio': 8553,
 'many': 5340,
 'comment': 1912,
 'spoon': 8338,
 'table': 8761,
 'matched': 5391,
 'secondary': 7740,
 'apartment': 543,
 'reaching': 7044,
 'area': 609,
 'somewhat': 8211,
 'convenient': 2077,
 'hoped': 4202,
 'battery': 942,
 'candle': 1447,
 'brand': 1258,
 'ok': 6017,
 'firm': 3378,
 'perfection': 6367,
 'beyond': 1060,
 'minimal': 5557,
 'effort': 2887,
 'smile': 8142,
 'fleece': 3423,
 'noticed': 5935,
 'today': 9070,
 'lb': 4973,
 'oz': 6162,
 'gram': 3820,
 'stick': 8456,
 'meal': 5421,
 'candy': 1450,
 'buffet': 1340,
 'certainly': 1569,
 'cord': 2117,
 'garage': 3663,
 'broke': 1307,
 'tacky': 8766,
 'spare': 8277,
 'memory': 5477,
 'earlier': 2835,
 'packaging': 6173,
 'mix': 5580,
 'bride': 1284,
 'slightly': 8114,
 'website': 9737,
 'pint': 6472,
 'pick': 6435,
 'equipment': 3032,
 'ring': 7380,
 'either': 2899,
 'gone': 3780,
 'destroyed': 2512,
 'trouble': 9237,
 'high': 4116,
 'end': 2962,
 'calming': 1429,
 'clock': 1816,
 'although': 413,
 'flaw': 3418,
 'solution': 8199,
 'sorting': 8242,
 'mess': 5501,
 'going': 3772,
 'dinner': 2598,
 'buying': 1394,
 'especially': 3050,
 'nicely': 5863,
 'wife': 9816,
 'packed': 6174,
 'variety': 9485,
 'hour': 4234,
 'mirror': 5569,
 'hanging': 3978,
 'efficient': 2885,
 'adore': 276,
 'batch': 931,
 'cold': 1861,
 'drink': 2771,
 'measuring': 5434,
 'cupcake': 2268,
 'fact': 3223,
 'padding': 6179,
 'popcorn': 6591,
 'machine': 5219,
 'easier': 2844,
 'wrong': 9930,
 'countertop': 2154,
 'drawer': 2753,
 'defective': 2413,
 'fix': 3396,
 'boy': 1246,
 'turn': 9272,
 'snap': 8160,
 'burn': 1370,
 'hell': 4080,
 'temp': 8876,
 'replaced': 7232,
 'staff': 8381,
 'holding': 4167,
 'closet': 1825,
 'know': 4847,
 'tried': 9222,
 'merchandise': 5489,
 'speedy': 8304,
 'delivery': 2448,
 'american': 439,
 'matching': 5393,
 'pie': 6451,
 'three': 8993,
 'impressed': 4363,
 'durable': 2814,
 'suppose': 8677,
 'water': 9706,
 'flash': 3405,
 'beer': 989,
 'even': 3072,
 'sitting': 8065,
 'believe': 1013,
 'rated': 7014,
 'originally': 6104,
 'noodle': 5908,
 'thread': 8991,
 'socket': 8179,
 'bulb': 1352,
 'totally': 9118,
 'yet': 9957,
 'pull': 6854,
 'along': 398,
 'otherwise': 6112,
 'clear': 1792,
 'toilet': 9077,
 'holder': 4166,
 'sleek': 8102,
 'appear': 552,
 'promised': 6800,
 'lovely': 5183,
 'lamp': 4912,
 'cookie': 2091,
 'cutter': 2297,
 'track': 9145,
 'shoe': 7941,
 'floor': 3439,
 'visible': 9596,
 'shipped': 7924,
 'promptly': 6806,
 'ten': 8883,
 'slow': 8129,
 'bread': 1264,
 'becomes': 976,
 'rock': 7419,
 'overall': 6138,
 'broken': 1308,
 'pasta': 6290,
 'ice': 4299,
 'cream': 2209,
 'soup': 8255,
 'filter': 3354,
 'night': 5869,
 'noise': 5899,
 'variation': 9481,
 'fell': 3314,
 'apart': 542,
 'became': 973,
 'strong': 8538,
 'world': 9893,
 'carpet': 1493,
 'floral': 3444,
 'dead': 2362,
 'heading': 4041,
 'watering': 9710,
 'covered': 2176,
 'strawberry': 8510,
 'molded': 5619,
 'heart': 4053,
 'shell': 7905,
 'tad': 8768,
 'loose': 5161,
 'eat': 2851,
 'breakfast': 1268,
 'nook': 5910,
 'classic': 1777,
 'honey': 4188,
 'temperature': 8877,
 'dishwasher': 2649,
 'access': 188,
 'white': 9797,
 'elephant': 2921,
 'liking': 5069,
 'single': 8050,
 'lighter': 5055,
 'soon': 8228,
 'surprised': 8694,
 'task': 8819,
 'standard': 8400,
 'present': 6710,
 'guest': 3902,
 'amazing': 426,
 'straw': 8509,
 'thinner': 8972,
 'professional': 6779,
 'blender': 1148,
 'open': 6049,
 'see': 7752,
 'wear': 9730,
 'tear': 8853,
 'correct': 2130,
 'mom': 5621,
 'summer': 8638,
 'tiny': 9055,
 'spatula': 8280,
 'unless': 9368,
 'arthritis': 647,
 'reading': 7051,
 'complement': 1955,
 'scheme': 7681,
 'vibrant': 9539,
 'softer': 8185,
 'model': 5599,
 'bottle': 1226,
 'freezer': 3570,
 'fresh': 3579,
 'compact': 1929,
 'travel': 9184,
 'charm': 1632,
 'daily': 2310,
 'lid': 5042,
 'wrist': 9923,
 'cleaned': 1785,
 'sooner': 8229,
 'thicker': 8963,
 'dot': 2726,
 'hook': 4197,
 'ceiling': 1544,
 'returned': 7335,
 'twice': 9284,
 'base': 914,
 'sharp': 7888,
 'careful': 1487,
 'taking': 8785,
 'italy': 4566,
 'rather': 7016,
 'stronger': 8539,
 'quit': 6920,
 'though': 8984,
 'knob': 4843,
 'rod': 7424,
 'clothes': 1829,
 'stuff': 8556,
 'rub': 7478,
 'shorter': 7955,
 'cotton': 2145,
 'king': 4818,
 'others': 6111,
 'mentioned': 5482,
 'kinda': 4813,
 'hose': 4217,
 'stiff': 8461,
 'fun': 3612,
 'alice': 375,
 'themed': 8946,
 'party': 6271,
 'runner': 7496,
 'antique': 523,
 'balloon': 867,
 'weight': 9751,
 'serf': 7804,
 'purpose': 6878,
 'aesthetically': 297,
 'useful': 9428,
 'attractive': 759,
 'speed': 8303,
 'home': 4178,
 'cracked': 2191,
 'bad': 838,
 'soap': 8173,
 'fish': 3383,
 'looked': 5157,
 'lunch': 5203,
 'several': 7834,
 'plenty': 6533,
 'solo': 8198,
 'stove': 8499,
 'tested': 8906,
 'installation': 4471,
 'priced': 6730,
 'durability': 2813,
 'scratch': 7697,
 'weird': 9752,
 'unlike': 9369,
 'liner': 5083,
 'debris': 2371,
 'fall': 3242,
 'designed': 2497,
 'added': 243,
 'organization': 6094,
 'provide': 6832,
 'pot': 6627,
 'pleased': 6527,
 'shown': 7976,
 'rack': 6937,
 'project': 6794,
 'worth': 9907,
 'hygienic': 4292,
 'salt': 7564,
 'ordering': 6085,
 'inexpensive': 4418,
 'queen': 6902,
 'actual': 234,
 'tighter': 9036,
 'mind': 5547,
 'making': 5276,
 'blade': 1137,
 'collection': 1873,
 'instruction': 4480,
 'misleading': 5572,
 'cooky': 2095,
 'older': 6025,
 'version': 9526,
 'grow': 3886,
 'handled': 3970,
 'pan': 6214,
 'without': 9859,
 'stunning': 8562,
 'modern': 5604,
 'desk': 2502,
 'gorgeous': 3797,
 'industrial': 4416,
 'recipient': 7090,
 'release': 7175,
 'scale': 7665,
 'within': 9858,
 'follow': 3477,
 'direction': 2610,
 'float': 3434,
 'chicken': 1688,
 'hesitation': 4107,
 'pitcher': 6481,
 'drip': 2774,
 'name': 5764,
 'hesitate': 4106,
 'cart': 1504,
 'must': 5736,
 'robot': 7418,
 'add': 242,
 'bulky': 1354,
 'counter': 2152,
 'maker': 5269,
 'rv': 7510,
 'partially': 6263,
 'beginner': 998,
 'went': 9762,
 'dark': 2334,
 'rarely': 7004,
 'ac': 181,
 'live': 5112,
 'somewhere': 8212,
 'humidity': 4265,
 'getting': 3720,
 'ready': 7052,
 'gray': 3843,
 'roller': 7433,
 'safe': 7530,
 'sharpen': 7889,
 'scissors': 7689,
 'behind': 1007,
 'seat': 7733,
 'proof': 6809,
 'dust': 2819,
 'dirt': 2614,
 'handling': 3972,
 'crack': 2190,
 'recommended': 7102,
 'since': 8040,
 'said': 7544,
 'metal': 5506,
 'trick': 9219,
 'built': 1350,
 'razor': 7036,
 'cutting': 2298,
 'granddaughter': 3823,
 'play': 6516,
 'saw': 7658,
 'skin': 8090,
 'hair': 3942,
 'simply': 8037,
 'thank': 8928,
 'cut': 2293,
 'let': 5027,
 'window': 9831,
 'gotten': 3802,
 'compliment': 1963,
 'mount': 5674,
 'enhances': 2987,
 'mood': 5647,
 'double': 2728,
 'bend': 1037,
 'split': 8331,
 'outstanding': 6135,
 'us': 9420,
 'bolt': 1189,
 'dropped': 2785,
 'detail': 2513,
 'could': 2147,
 'breeze': 1280,
 'simple': 8034,
 'awhile': 812,
 'lasted': 4941,
 'rd': 7038,
 'steam': 8436,
 'kettle': 4778,
 'quiet': 6916,
 'stand': 8398,
 'mixer': 5582,
 'gadget': 3632,
 'move': 5682,
 'around': 627,
 'ive': 4577,
 'multiple': 5710,
 'panel': 6224,
 'chip': 1708,
 'mark': 5354,
 'inside': 4459,
 'fuss': 3626,
 'beginning': 999,
 'anyone': 536,
 'trailer': 9157,
 'upright': 9407,
 'liked': 5066,
 'dining': 2596,
 'cheerful': 1661,
 'highest': 4118,
 'bell': 1017,
 'fridge': 3583,
 'everyone': 3084,
 'self': 7772,
 'tile': 9042,
 'spout': 8350,
 'regular': 7157,
 'lily': 5071,
 'leaf': 4981,
 'realistic': 7057,
 'pair': 6192,
 'non': 5902,
 'medical': 5441,
 'level': 5031,
 'law': 4960,
 'basic': 918,
 'obsessed': 5978,
 'plant': 6504,
 'cooker': 2090,
 'trust': 9246,
 'give': 3739,
 'recipe': 7088,
 'horrible': 4212,
 'hole': 4169,
 'sewn': 7838,
 'sleep': 8103,
 'found': 3541,
 'step': 8444,
 'stool': 8480,
 'jeep': 4634,
 'rice': 7358,
 'studying': 8555,
 'south': 8262,
 'bet': 1051,
 'rubber': 7479,
 'grip': 3870,
 'issue': 4561,
 'wonder': 9870,
 'able': 161,
 'neat': 5810,
 'major': 5266,
 'pain': 6183,
 'putting': 6889,
 'hate': 4017,
 'agree': 332,
 'stock': 8470,
 'band': 880,
 'wheel': 9776,
 'nest': 5842,
 'tasty': 8830,
 'cutest': 2295,
 'theme': 8945,
 'regarding': 7147,
 'cheaply': 1650,
 'lucky': 5198,
 'scent': 7678,
 'fill': 3346,
 'refrigerator': 7138,
 'darn': 2337,
 'goodness': 3786,
 'slipped': 8118,
 'constantly': 2038,
 'ruler': 7491,
 'cap': 1462,
 'replacement': 7233,
 'useless': 9429,
 'gilbert': 3733,
 'amazon': 428,
 'prime': 6742,
 'alone': 397,
 'letter': 5029,
 'case': 1512,
 'mixing': 5583,
 'colorful': 1880,
 'board': 1171,
 'decor': 2388,
 'probably': 6763,
 'post': 6623,
 'cheese': 1663,
 'red': 7112,
 'wood': 9879,
 'completely': 1959,
 'spark': 8278,
 'learning': 4990,
 'admit': 272,
 'cant': 1457,
 'noisy': 5900,
 'strongly': 8540,
 'magnetic': 5238,
 'duty': 2823,
 'loving': 5187,
 'huge': 4256,
 'hit': 4159,
 'assortment': 707,
 'installed': 4472,
 'company': 1932,
 'satisfied': 7635,
 'carving': 1510,
 'elevated': 2925,
 'library': 5038,
 'started': 8410,
 'rust': 7506,
 'tank': 8804,
 'forward': 3535,
 'homemade': 4180,
 'coconut': 1853,
 'milk': 5539,
 'sided': 8002,
 'nostalgic': 5923,
 'element': 2919,
 'smallest': 8135,
 'toy': 9141,
 'course': 2164,
 'ground': 3881,
 'turned': 9273,
 'boat': 1176,
 'excited': 3112,
 ...}

In [18]:
# checking number of rows and columns
vectorized_corpus.shape

(138716, 10000)

In [19]:
# putting the labeled data into X to train the model
X = vectorized_corpus[:40431,:]

In [20]:
# checking number of rows and columns
X.shape

(40431, 10000)

In [21]:
# putting the label column from df1 into y
y = df1.iloc[:,0].values

In [22]:
# checking number of rows and columns
y.shape

(40431,)

In [23]:
# Train Test Split
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.20 , random_state = 0)

### TFIDF ==> Naive Bayes Classifier

In [27]:
# Training model using Naive Bayes Classifier

from sklearn.naive_bayes import MultinomialNB

fake_detect_model = MultinomialNB().fit(X_train , y_train)

y_pred = fake_detect_model.predict(X_test)

In [31]:
# Now we have trained our model to identify fake reviews, and now we will check from our webscraped data 
#how many of the data we have are fake

web_scraped_data = vectorized_corpus[40431:,:]

In [32]:
# checking number of rows and columns
web_scraped_data.shape

(98285, 10000)

In [44]:
# displaying the total number of fake reviews in web_scraped_data
# Naive Bayes Classifier
sum(fake_detect_model.predict(web_scraped_data))

12166

In [45]:
df = pd.read_csv('reviews.csv')

In [46]:
df.head()

,Unnamed: 0,city_name,place_to_visit,place_name,reviews
0,0,Kolkata,Restaurants,Ottimo Cucina Italiana,Mr.Prakash Kumar and Mr.Sourav both are one on...
1,1,Kolkata,Restaurants,Ottimo Cucina Italiana,Absolutely great place for gathering and indee...
2,2,Kolkata,Restaurants,Ottimo Cucina Italiana,Pizza was good.Chefs antipasti antipasti selec...
3,3,Kolkata,Restaurants,Ottimo Cucina Italiana,It was a wonderful dinning experience in the r...
4,4,Kolkata,Restaurants,Ottimo Cucina Italiana,Had a really great time with family.\nFood was...

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98623 entries, 0 to 98622
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      98623 non-null  int64
 1   city_name       98623 non-null  object
 2   place_to_visit  98623 non-null  object
 3   place_name      98623 non-null  object
 4   reviews         98623 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [48]:
df.drop(['Unnamed: 0'] , axis = 1 , inplace = True)
df = df.drop(df.iloc[np.where(df.city_name == 'city_name')].index , axis = 0)

# replacing the value names to avoid duplicacy in the data.

df = df.replace('jaipur' , 'Jaipur')
df = df.replace('agra' , 'Agra')
df = df.replace('Things_to_do' , 'Things')

In [49]:
messages.shape

(98285, 2)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98285 entries, 0 to 98622
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   city_name       98285 non-null  object
 1   place_to_visit  98285 non-null  object
 2   place_name      98285 non-null  object
 3   reviews         98285 non-null  object
dtypes: object(4)
memory usage: 3.7+ MB

In [51]:
df.isna().sum()

city_name         0
place_to_visit    0
place_name        0
reviews           0
dtype: int64

In [52]:
web_scraped_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [53]:
# creating a new column fake which determines whether the reviews is fake or original

df['Fake'] = fake_detect_model.predict(web_scraped_data)

In [57]:
df.head()

,city_name,place_to_visit,place_name,reviews,Fake
0,Kolkata,Restaurants,Ottimo Cucina Italiana,Mr.Prakash Kumar and Mr.Sourav both are one on...,0
1,Kolkata,Restaurants,Ottimo Cucina Italiana,Absolutely great place for gathering and indee...,0
2,Kolkata,Restaurants,Ottimo Cucina Italiana,Pizza was good.Chefs antipasti antipasti selec...,0
3,Kolkata,Restaurants,Ottimo Cucina Italiana,It was a wonderful dinning experience in the r...,0
4,Kolkata,Restaurants,Ottimo Cucina Italiana,Had a really great time with family.\nFood was...,0

In [54]:
#creating new dataframe fake_data and copying only the reviews which are fake
fake_data = df.iloc[np.where(df['Fake'] == 1)]
fake_data

,city_name,place_to_visit,place_name,reviews,Fake
6,Kolkata,Restaurants,Ottimo Cucina Italiana,"Very nice place must visit , interiors are goo...",1
7,Kolkata,Restaurants,Ottimo Cucina Italiana,Great to be announced that this was the best p...,1
9,Kolkata,Restaurants,Ottimo Cucina Italiana,The food was amazing and so fantastically pres...,1
20,Kolkata,Restaurants,Ottimo Cucina Italiana,Had a great experience at the Ottimo. We were ...,1
22,Kolkata,Restaurants,Ottimo Cucina Italiana,Excellent food. Very nice and kind waiters. Wo...,1
...,...,...,...,...,...
98534,Agra,Hotels,Trident,It was the annual family break that we took to...,1
98540,Agra,Hotels,Trident,Top notch hospitality. Each & every staff is ...,1
98543,Agra,Hotels,Trident,Very good Hotel in Agra. Nice and clean room.G...,1
98563,Agra,Hotels,Trident,It’s was a great experience I just loved the a...,1
98615,Agra,Hotels,Trident,"A weekend well spent at the Trident Agra, We c...",1

In [59]:
df.to_csv('powerbi2.csv')