In [7]:
import pandas as pd
import numpy as np

#Importing necessary library

In [8]:
df = pd.read_csv('reviews_cleaned2.csv')

In [9]:
df.head()

,city_name,place_to_visit,place_name,score_V,avg_score,avg_scoreR
0,Agra,Hotels,Holiday_Inn,0.8126,0.914462,0.941
1,Agra,Hotels,Jaypee_Palace_Hotel,0.9864,0.883915,0.905
2,Agra,Hotels,Bansi_Home_Stay,0.8860,0.891969,0.882
3,Agra,Hotels,Hotel_Taj_Resorts,0.9686,0.826703,0.840
4,Agra,Hotels,Howard_Plaza,0.9724,0.777425,0.750

In [10]:
df.city_name.value_counts().index

Index(['Bangalore', 'Chandigarh', 'Delhi', 'Goa', 'Kolkata', 'Mumbai',
       'Ahmedabad', 'Pune', 'Udaipur', 'Jaipur', 'Agra', 'Varanasi'],
      dtype='object')

In [11]:
df['avg_scoreR'] = round(5 * df.avg_scoreR,1)

In [12]:
df['avg_score'] = round(5 * df.avg_score,1)

In [14]:
df.head()

,city_name,place_to_visit,place_name,score_V,avg_score,avg_scoreR
0,Agra,Hotels,Holiday_Inn,0.8126,4.6,4.7
1,Agra,Hotels,Jaypee_Palace_Hotel,0.9864,4.4,4.5
2,Agra,Hotels,Bansi_Home_Stay,0.8860,4.5,4.4
3,Agra,Hotels,Hotel_Taj_Resorts,0.9686,4.1,4.2
4,Agra,Hotels,Howard_Plaza,0.9724,3.9,3.8

In [15]:
df.drop(['score_V'], axis = 1 , inplace = True)

In [16]:
df.to_csv('powerbi.csv')