In [1]:
import pandas as pd
import numpy as np

#Importing necessary library

In [2]:
df = pd.read_csv('reviews_cleaned2.csv')

In [3]:
df.head()

,city_name,place_to_visit,place_name,score_V,avg_score,avg_scoreR
0,Agra,Hotels,Holiday_Inn,0.8126,0.914462,0.941
1,Agra,Hotels,Jaypee_Palace_Hotel,0.9864,0.883915,0.905
2,Agra,Hotels,Bansi_Home_Stay,0.8860,0.891969,0.882
3,Agra,Hotels,Hotel_Taj_Resorts,0.9686,0.826703,0.840
4,Agra,Hotels,Howard_Plaza,0.9724,0.777425,0.750

In [4]:
df.city_name.value_counts().index

Index(['Bangalore', 'Chandigarh', 'Delhi', 'Goa', 'Kolkata', 'Mumbai',
       'Ahmedabad', 'Pune', 'Udaipur', 'Jaipur', 'Agra', 'Varanasi'],
      dtype='object')

In [5]:
df.drop(['score_V' , 'avg_score'] , axis = 1 , inplace = True)

In [7]:
df['avg_scoreR'] = round(5 * df.avg_scoreR,1)

# Converting avg_score from 0 to 1 in the range of 1 - 5

In [8]:
mt_list = []
for i in df.city_name.value_counts().index:
        exec(f'cdf_{i} = df.iloc[np.where(df.city_name == i)]')
        
        print('cdf_' + i)
        
        mt_list = mt_list + ['cdf_' + i]
        
        
# Creating a dataframe for each Cities and segregating them further

cdf_Bangalore
cdf_Chandigarh
cdf_Delhi
cdf_Goa
cdf_Kolkata
cdf_Mumbai
cdf_Ahmedabad
cdf_Pune
cdf_Udaipur
cdf_Jaipur
cdf_Agra
cdf_Varanasi

In [9]:
cdf_Chandigarh

,city_name,place_to_visit,place_name,avg_scoreR
82,Chandigarh,Hotels,JW Marriott Hotel Chandigarh,4.8
83,Chandigarh,Hotels,Hometel Chandigarh,4.8
84,Chandigarh,Hotels,Golden Tulip Chandigarh Panchkula,4.8
85,Chandigarh,Hotels,Country Inn & Suites by Radisson Zirakpur,4.7
86,Chandigarh,Hotels,Radisson Chandigarh Zirakpur,4.6
87,Chandigarh,Hotels,"Lemon Tree Hotel, Chandigarh",4.4
88,Chandigarh,Hotels,Hyatt Regency Chandigarh,4.3
89,Chandigarh,Hotels,Taj Chandigarh,4.2
90,Chandigarh,Hotels,The Lalit Chandigarh,4.2
91,Chandigarh,Hotels,Hotel Turquoise Chandigarh,1.9
92,Chandigarh,Restaurants,The Cafe @ JW,4.8
93,Chandigarh,Restaurants,Saffron,4.6
94,Chandigarh,Restaurants,Urban Cafe,4.6
95,Chandigarh,Restaurants,Virgin Courtyard,4.1
96,Chandigarh,Restaurants,Barbeque Nation,3.8
97,Chandigarh,Restaurants,Haveli,3.2
98,Chandigarh,Restaurants,Sindhi's Sweets & Vegetarian Restaurants,3.0
99,Chandigarh,Restaurants,Gopal Sweets,2.8
100,Chandigarh,Restaurants,Pal Dhaba,2.3
101,Chandigarh,Restaurants,Hot Millions,2.0
102,Chandigarh,Things,Elante mall,4.2
103,Chandigarh,Things,Sukhna Lake,4.1
104,Chandigarh,Things,Pinjore Gardens,4.0
105,Chandigarh,Things,Spiti Valley,3.9
106,Chandigarh,Things,Chandigarh Rose Garden,3.9
107,Chandigarh,Things,Chitkul,3.8
108,Chandigarh,Things,Sunset Point,3.6
109,Chandigarh,Things,The Rock Garden,3.4
110,Chandigarh,Things,Timber Trail,3.0
111,Chandigarh,Things,Manki Point - Hanuman Temple,2.4

In [10]:
mt_list

['cdf_Bangalore',
 'cdf_Chandigarh',
 'cdf_Delhi',
 'cdf_Goa',
 'cdf_Kolkata',
 'cdf_Mumbai',
 'cdf_Ahmedabad',
 'cdf_Pune',
 'cdf_Udaipur',
 'cdf_Jaipur',
 'cdf_Agra',
 'cdf_Varanasi']

In [11]:
for i in mt_list:
    path = f'City_DataFrame\{i}.csv'
    exec(f'{i}.to_csv(path , index = False)')
    
#For saving all the dataframe as a csv file